{% extends 'base.html.twig' %}

{% block body %}
<!-- MAIN IMAGE SECTION -->
<div id="portwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>{{detailProjet.nomProjet}}</h2>
      </div>
    </div><!-- row -->
  </div><!-- /container -->
</div><!-- /portrwrap -->

<!-- WELCOME SECTION -->

<!-- CLIENT INFORMATION -->
<div id="lg">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-lg-offset-1 desc">
      <h3>{{detailProjet.nomProjet}}</h3>
        <img style="width:400px;"src="{{asset("img/about-bg.jpg")}}" >
        <p>{{detailProjet.contenu}}</p>


    </div>

    <div class="col-lg-4 col-lg-offset-1 desc">
      <h3>Infos supplémentaires</h3>
      <br>
      <h5><b>Auteur:</b> REBECCA ZEARING</h5>
      <h5><b>Nombre de places:</b> {{detailProjet.nbPlaces}} </h5>
      <h5><b>Nombre de participants:</b> 0 / {{detailProjet.nbParticipants}} </h5>
      <h5><b>Description: </b>{{detailProjet.description}}</h5>
      <p class="tm">{{detailProjet.contenu}} </p>
      <p><br><button type="button" class="btn btn-green">Participer !</button></p><p><button type="button" class="btn btn-green">Inviter</button></p>

    </div>

  </div><!-- row -->
</div><!-- container -->
</div><!-- dg -->

{% endblock%}
