{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="display:inline">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{path('fos_user_profile_show')}}"><img  width="50px;"src="{{asset('img/avatar/'~app.user.avatar.url)}}"></a>
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>
{% if app.user and app.user.username == detailProjet.idUtilisateur.username %}
<div class="container">
{% if projet.pictureName %}
  <img src="{{ asset(projet.getWebPath()) }}" />
  {% else %}
  Pas d'image chargée pour ce projet!
  {% endif %}

  <h1>Charger une image pour ce projet</h1>

  <form action="#" method="post">
  {{ form_start(form) }}
  {{ form_widget(form) }}

  </form>
</div>
{% else %}
{{ render(controller('AppBundle:Default:index')) }}
{% endif %}
{% endblock %}
