{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="container" style="display:inline">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{path('fos_user_profile_show')}}"><img  width="50px;"src="{{asset('img/avatar/'~app.user.avatar.url)}}"></a>
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>
<!-- MAIN IMAGE SECTION -->
<div id="portwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Nouveau projet</h2>
      </div>
    </div><!-- row -->
  </div><!-- /container -->
</div><!-- /portrwrap -->

<!-- WELCOME SECTION -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{path('homepage')}}">Accueil</a></li>
  <li class="breadcrumb-item"><a href="{{path('projets')}}">Projets</a></li>
  <li class="breadcrumb-item active">Nouveau projet</li>
  <a href="{{ app.request.headers.get('referer') }}" class="btn btn-info pull-right"><span class="glyphicon glyphicon-repeat"></span> Retour</a>
</ol>
<div class="container">
<!-- Button trigger modal -->

{{ tinymce_init() }}
<div class="container">
<br/>
<div class="panel">
      <div class="alert alert-warning fade in">
      <strong>Attention!  L'ajout d'une image est obligatoire.</strong>
      </div>
			<div class="panel-heading"><h4>Nouveau projet</h4>
      <button  type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#myModal">
        Ajouter/Modifier l'image
      </button>
      </div>
			<div class="panel-body">
					<div class="panel ">
						<div class="panel-body">
            {{ form_start(form) }}
            {% if not form.vars.valid %}
            <div class="alert alert-error">
                {{ form_errors(form) }}
            </div>
            {% endif %}
            <div class="col-md-6">
              {{ form_row(form.nomProjet) }}
              {{ form_row(form.description) }}
              {{ form_row(form.contenu) }}
              {{ form_row(form.url) }}
              {{ form_row(form.statut) }}


            </div>
            <div class="col-md-6">
              {{ form_row(form.dateDebut) }}
              {{ form_row(form.dateFin) }}
              {{ form_row(form.nbPlaces) }}
              {{ form_row(form.idTypeProjet) }}
              {{ form_row(form.technologies) }}

            </div>
            <hr>

						</div>
					</div>
          <br>
            <a onclick="return(confirm('Attention vous êtes sur le point d'annuler votre action'));" href="{{path('projets')}}" class="btn btn-warning pull-right"/>
           Annuler </a>
           {{ form_row(form.save) }}

				<div class="clearfix"></div>
            </div>
</div>
</div>

<div class="container">
	<div class="row">


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Ajout/Modification de l'image</h4>
        </div>
        <div class="modal-body">
        {{ form_row(form.file) }}

        </div>
        <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-warning pull-right"/> Enregistrer </button>
        </div>
      </div>
    </div>
  </div>
	</div>
</div>
  {{ form_end(form) }}
{% else %}
{{ render(path('fos_user_security_login')) }}
{% endif %}
{% endblock %}
