{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="container" style="display:inline">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{path('fos_user_profile_show')}}"><img  width="50px;"src="{{asset('img/avatar/'~app.user.avatar.url)}}"></a>
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>
<!-- MAIN IMAGE SECTION -->
<div id="portwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Les projets</h2>
      </div>
    </div><!-- row -->
  </div><!-- /container -->
</div><!-- /portrwrap -->

<!-- WELCOME SECTION -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{path('homepage')}}">Accueil</a></li>
  <li class="breadcrumb-item active">Projets</li>
</ol>
  <div class="container">
    <div class="row mt">
      <div class="col-lg-8">
        <h2>Un moyen facile de monter en compétence!</h2>
        <p>découvrez les projets créer par les autres membres, participer y, ou créer votre propre projet.</p>
      </div>
      <div class="col-lg-4">
        <p class="pull-right"><br><a href="{{path('newProjet')}}" class="btn btn-primary">créer vous aussi votre projet</a></p>
      </div>
    </div><!-- /row -->
  </div><!-- /.container -->


  <div class="container">
    <div id="searchbar" class="col-md-6 col-md-offset-3">
      <form action="#" method="post">
      {{ form_start(form) }}
      {{ form_widget(form) }}

      </form>
		</div>
	</div>
  <div class="container">
  {% for projet in projets %}
      <div class="col-lg-4 projet">
        <center>
        <a href="{{ path('showProjet', {'id': projet.id}) }}">
        <h3>{{projet.nomProjet}}</h3>
          <img src="{{projet.file}}" width="350px" height="300px">
        </a>
        <p>{{projet.description | striptags | slice(0, 40) }} [...]</p>
        <p class="infos">Début : {{projet.dateDebut|date('d/m/Y')}}  |  Places : {{projet.nbPlaces}}
        <br><b> statut : {{projet.statut.nom}}</b>
        <br>Auteur : <a href="{{ path('profilDe', {'username': projet.idUtilisateur.username}) }}">{{projet.idUtilisateur.username}}</a></p>
        </center>
      </div>
  {% endfor %}
</div>

{% else %}
{{ render(path('fos_user_security_login')) }}
{% endif %}
{% endblock %}
