{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="container" style="display:inline">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{path('fos_user_profile_show')}}"><img  width="50px;"src="{{asset('img/avatar/'~app.user.avatar.url)}}"></a>
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>
<!-- MAIN IMAGE SECTION -->
<div id="portwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Les projets</h2>
      </div>
    </div><!-- row -->
  </div><!-- /container -->
</div><!-- /portrwrap -->

<!-- WELCOME SECTION -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{path('homepage')}}">Accueil</a></li>
  <li class="breadcrumb-item active">Projets</li>
</ol>
  <div class="container">
    <div class="row mt">
      <div class="col-lg-8">
        <h2>Un moyen facile de monter en compétences!</h2>
        <p>découvrez les projets créer par les autres membres, participer y, ou créer votre propre projet.</p>
      </div>
      <div class="col-lg-4">
        <p class="pull-right"><br><a href="{{path('newProjet')}}" class="btn btn-primary">créer vous aussi votre projet</a></p>
      </div>
    </div><!-- /row -->
  </div><!-- /.container -->


  <div class="container">
    <div id="searchbar">
			<form method="post" role="search">
				<div class="row">
    				<div class="col-xs-8 col-xs-offset-2">
					    <div class="input-group">
			                <div class="input-group-btn search-panel">

			                    <ul class="dropdown-menu" role="menu">
			                      <li><a href="#Title">Nom</a></li>
			                      <li><a href="#Author">Statut</a></li>
			                      <li><a href="#SubjectAreas">Date de début</a></li>
								  <li class="divider"></li>
			  			  		  <li><a href="#all">Tout afficher</a></li>
							  	</ul>
			                </div>
			                <input type="hidden" name="search_filter" value="all" id="search_filter">
			                <input type="text" class="form-control" id="searchbox" name="search_text" placeholder="Rerchercher..">
			                <span class="input-group-btn">
			                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
			                </span>
			            </div>
    				</div>
				</div>
			</form>
		</div>
	</div>
  <div class="container">
  <div class="row mt">
  {% for projet in projets %}
      <div class="col-lg-4 projet">
        <a href="{{ path('showProjet', {'id': projet.id}) }}">
        <h4>{{projet.nomProjet}}</h4>
        <img style="width: 350px;"src="{{asset("img/about-bg.jpg")}}" >
        </a>
        <p>{{projet.description | striptags | slice(0, 40) }} [...]</p>
        <p class="infos">Début : {{projet.dateDebut|date('d/m/Y')}}  |  Places : {{projet.nbPlaces}}
        <br><b> statut : {{projet.statut.nom}}</b>
        <br>Auteur : <a href="{{ path('profilDe', {'username': projet.idUtilisateur.username}) }}">{{projet.idUtilisateur.username}}</a></p>

      </div>
  {% endfor %}
  </div><!-- row -->
</div>
<br><br>
{#
<div class="container">
<div class="paginate" align="center"><!-- remove width id you don't need it-->
    <ul class="pagination">
      <li><a href="#"rel="prev" class="page-prev"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
      <li class="active "><span>1</span></li>
      <li><a href="#" class=" ">2</a></li>
      <li><a href="#" class=" ">3</a></li>
      <li><a href="#" rel="next" class="page-next"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>#}
{% else %}
{{ render(path('fos_user_security_login')) }}
{% endif %}
{% endblock %}
