<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ asset('favicon.png')}}">

    <title>TeamDEV</title>

    <link href="{{ asset('chosen/chosen.css')}}" rel="stylesheet">
    <link href="{{ asset('chosen/chosen.min.css')}}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/main.css')}}" rel="stylesheet">

    <link href="{{ asset('css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{ asset('css/style.css')}}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="{{ asset('js/modernizr.custom.js')}}"></script>

  </head>
    <body>
      <!-- Menu -->
    	<nav class="menu" id="theMenu">
    		<div class="menu-wrap">
    			<h1 class="logo"><a href="{{path('homepage')}}">TeamDEV</a></h1>
    			<i class="fa fa-arrow-right menu-close"></i>
    			<a href="{{path('homepage')}}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Accueil</a>
    			<a href="{{path('projets')}}"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Projets</a>
    			<a href="{{path('fos_user_profile_show')}}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profil</a>
          <a href="{{path('indexAdmin')}}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Administration</a>
    			<a href="{{path('homepage')}}"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Connexion</a>
    			<a href="{{path('logout')}}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Deconnexion</a>
    			<a href="#"><i class="fa fa-facebook"></i></a>
    			<a href="#"><i class="fa fa-twitter"></i></a>
    			<a href="#"><i class="fa fa-dribbble"></i></a>
    			<a href="#"><i class="fa fa-envelope"></i></a>
    		</div>

    		<!-- Menu button -->
    		<div id="menuToggle"><i class="fa fa-bars"></i></div>
    	</nav>

        <section>
        {% block body %}
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {% endblock %}
        </section>
        <footer><p  class="container">TeamDEV Copyright 2017</p></footer>
        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <!-- <script src="{{asset('js/bootstrap.min.js')}}"></script> -->
        <script src="{{asset('js/main.js')}}"></script>
        <!-- <script src="{{asset('js/masonry.pkgd.min.js')}}"></script>
        <script src="{{asset('js/imagesloaded.js')}}"></script>
        <script src="{{asset('js/classie.js')}}"></script>
        <script src="{{asset('js/AnimOnScroll.js')}}"></script> -->
        <script src="{{asset('chosen/chosen.jquery.min.js')}}"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

        <!-- <script src="https://cdn.datatables.net/plug-ins/1.10.15/i18n/French.json"></script> -->
        <!-- <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
          minDuration : 0.4,
          maxDuration : 0.7,
          viewportFactor : 0.2
        } );
      </script> -->

      <script type="text/javascript">
      $(document).ready(function() {
       $('.progress .progress-bar').css("width",
                 function() {
                     return $(this).attr("aria-valuenow") + "%";
                 }
         )
     });
   </script>
    <script type="text/javascript">
      $(document).ready(function(){
          $('#myTable').DataTable();
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
          $(".chosen-select").chosen();
           $(".chosen-select").chosen({no_results_text: "Oops, Aucun résultat trouvée!"});
           $(".chosen-select").chosen({width: "100%"});
      });
    </script>

        {% endblock %}
    </body>
</html>
