{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="display:inline">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{path('fos_user_profile_show')}}"><img  width="50px;"src="{{asset('img/avatar/'~app.user.avatar.url)}}"></a>
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>

<!-- MAIN IMAGE SECTION -->
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>TeamDEV</h1>
        <h2>Travaillez à plusieurs pour un meilleur résultat</h2>
        <div class="spacer"></div>
        <i class="fa fa-angle-down"></i>
      </div>
    </div><!-- row -->
  </div><!-- /container -->
</div><!-- /headerwrap -->

<!-- WELCOME SECTION -->

<!-- BLOG POSTS -->
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Les derniers projets</h1>
    </div><!-- col-lg-12 -->
    <div class="col-lg-8">
      <p>Découvrez les dernieres propositions de projets.</p>
    </div><!-- col-lg-8-->
    <div class="col-lg-4 goright">
      <p><a href="{{path('projets')}}"><i class="fa fa-angle-right"></i> Voir tous les projets</a></p>
    </div>
    </div>

  {% for projet in projets %}
      <div class="col-sm-5 projet" style="display:block">
      <center>
        <a href="{{ path('showProjet', {'id': projet.id}) }}"><h3>{{projet.nomProjet}}</h3>
        <img src="{{projet.file}}" width="350px" height="300px"></a>
        <p>{{projet.description | striptags | slice(0, 40) }} [...]</p>
        <p class="infos">Début : {{projet.dateDebut|date('d/m/Y')}}  |  Places : {{projet.nbPlaces}}  <br>statut : {{projet.statut.nom}}
        <br>Auteur : <a href="{{ path('profilDe', {'username': projet.idUtilisateur.username}) }}">{{projet.idUtilisateur.username}}</a></p>
        </center>
      </div>

  {% endfor %}

  </div>
</div><!-- container -->
  {% else %}
  <h3 align="center">Connectez vous pour accedez aux projets <br><br>
    <a class="btn btn-primary"href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></h3>
  {% endif %}
{% endblock %}
