{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="container" style="display:inline">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>
<!-- MAIN IMAGE SECTION -->
<div id="portwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Mes compétences </h2>
      </div>
    </div><!-- row -->
  </div><!-- /container -->
</div><!-- /portrwrap -->
<br>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{path('homepage')}}">Accueil</a></li>
  <li class="breadcrumb-item"><a href="{{path('fos_user_profile_show')}}">Mon profil</a></li>
  <li class="breadcrumb-item active">Mes compétences</li>
  <a href="{{ app.request.headers.get('referer') }}" class="btn btn-info pull-right"><span class="glyphicon glyphicon-repeat"></span> Retour</a>

</ol>

<div class="container">
<div class="row col-sm-10 col-sm-offset-1">
<h3>Listes de mes compétences <a class="pull-right btn btn-primary" href="{{ path('newCompetence') }}"><span class="glyphicon glyphicon-plus"></span> Nouveau</a></h3>

<hr>

<table class="table" id="myTable">
  <thead>
    <td>Nom</td>
    <td>Pourcentage </td>
    <td>Action </td>
  </thead>
  <tbody>
{% for competence in competences %}
  <tr>
    <td>{{competence.nom}}</td>
    <td>{{competence.pourcentage}}%</td>
   <td>
      <a href="{{ path('editCompetence', {'id': competence.id}) }}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
      <a href="{{ path('deleteCompetence', {'id': competence.id}) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

</div><!-- row -->
</div>
{% else %}
{{ render(path('fos_user_security_login')) }}
{% endif %}
{% endblock %}
