{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="container" style="display:inline">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{path('fos_user_profile_show')}}"><img  width="50px;"src="{{asset('img/avatar/'~app.user.avatar.url)}}"></a>
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>
<!-- MAIN IMAGE SECTION -->
<div id="portwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Mes projets </h2>
      </div>
    </div><!-- row -->
  </div><!-- /container -->
</div><!-- /portrwrap -->
<br>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{path('homepage')}}">Accueil</a></li>
  <li class="breadcrumb-item"><a href="{{path('fos_user_profile_show')}}">Mon profil</a></li>
  <li class="breadcrumb-item active">Mes projets</li>
  <a href="{{ app.request.headers.get('referer') }}" class="btn btn-info pull-right"><span class="glyphicon glyphicon-repeat"></span> Retour</a>

</ol>

<div class="container">
<div class="row col-sm-10 col-sm-offset-1">
<h3>Listes de mes projets</h3>
<hr>
<table class="table" id="myTable">
  <thead>
    <td>Nom du projet</td>
    <td>Description </td>
    <td>Statut </td>
    <td>Action</td>
  </thead>
  <tbody>
{% for projet in projets %}
  <tr>
    <td><a href="{{ path('showProjet', {'id': projet.id}) }}">{{projet.nomProjet}}</a></td>
    <td width="30%">{{projet.description | striptags | slice(0, 40) }} [...] </td>
    <td>{{projet.statut.nom }}</td>
    <td>
      {#<a href="{{ path('desincProjet', {'id': participe.id}) }}" class="btn btn-danger">Se désinscrire</a>#}
      <a href="{{ path('editProjet', {'id': projet.id}) }}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
      <a href="{{ path('deleteProjet', {'id': projet.id}) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

</div><!-- row -->
</div>
{% else %}
{{ render(path('fos_user_security_login')) }}
{% endif %}
{% endblock %}
